:root {
  --main-title-color: #181818;
  --secondary-title-color: #ffffff;
  --main-text-color: #525151;
  --accent-color: #0bc533;
  --secondary-accent-color: #575454;
  --background-color: #686767;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--main-text-color);
  padding-top: 85px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.section {
  padding-top: 65px;
  padding-bottom: 65px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.section-title {
  margin-bottom: 30px;
  font-weight: 700px;
  font-size: 28px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  ffont-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__med {
  color: var(--accent-color);
}

.btn {
  font-family: "Inter", sans-serif;
  text-align: center;
  cursor: pointer;
  border: 1px solid var(--accent-color);
  box-shadow: inset 0 0 7px 2px rgba(0, 0, 0, 0.15), inset 0 0 13px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
  transition-property: color, background-color, border;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.3, 1);
}

.btn:hover,
.btn:focus {
  color: #14a733;
  background-color: var(--secondary-title-color);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.navigation {
  display: flex;
  max-height: 85px;
}

.header__logo {
  display: inline-block;
  padding-top: 26px;
  padding-bottom: 26px;
}

.logo__center {
  color: var(--main-title-color);
}

.navigation__list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navigation__link {
  display: flex;
  align-items: center;
  height: 85px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--main-title-color);
  transition-property: color, background-color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.3, 1);
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-color);
  background-color: #ece9e9;
}

.navigation__link--current {
  color: var(--accent-color);
}

.hero {
  padding-top: 150px;
  padding-bottom: 150px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--background-color);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/ct-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  align-items: center;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  margin-right: auto;
  margin-left: auto;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
}

.feature-text {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
}

.feature-list {
  display: flex;
  justify-content: space-around;
}

.feature-item {
  width: 165px;
}

.feature-icon {
  width: 80px;
  height: 80px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  fill: #09ad25;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: inset 0 0 20px 2px rgba(0, 0, 0, 0.15), inset 0 0 37px 10px rgba(0, 0, 0, 0.3);
}

.feature-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.operations {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .operations {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }
}

.operations__list {
  display: flex;
  margin: -15px;
}

.operations__item {
  position: relative;
  flex-basis: calc(33.3333333333% - 30px);
  margin: 15px;
}

.operations__image {
  display: block;
  width: 100%;
}

.operations__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.last-section {
  background-color: rgb(245, 245, 245);
}

.doctor-list {
  display: flex;
  justify-content: space-between;
}

.doctor-item {
  width: 280px;
  background-color: #ffffff;
}

.doctor-photo {
  width: 100%;
  margin-bottom: 6px;
}

.doctor-container {
  padding-top: 30px;
  padding-bottom: 20px;
}

.doctor-name {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.socials-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials-arrow {
  display: flex;
  align-items: center;
  /* width: 45px;
  height: 45px; */
  margin-right: 50px;
  border-radius: 50%;
}

.icon-arrow {
  width: 25px;
  height: 25px;
  fill: #4ffa74;
}

.socials-list {
  display: flex;
  justify-content: flex-end;
}

.socials-item + .socials-item {
  margin-left: 20px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.3, 1);
}

.socials-icon {
  width: 20px;
  height: 20px;
  fill: #949694;
  transition-property: fill, background-color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.3, 1);
}

.socials-link:hover,
.socials-link:focus,
.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  background-color: #4ffa74;
  fill: #ffffff;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color);
}

.footer__container {
  display: flex;
}

.contacts {
  margin-right: 70px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.logo__center--inverse {
  color: var(--secondary-title-color);
}

.address {
  display: inline-block;
  margin-bottom: 9px;
  padding: 0;
  border: 0;
  background-color: inherit;
  color: var(--secondary-title-color);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.884);
  transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.3, 1);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.contacts__item--first {
  margin-bottom: 9px;
}

.contacts__link {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.884);
  transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.3, 1);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* -------------Footer-socials--------------- */
.footer-soc {
  width: 130px;
  height: 80px;
}

.footer-soc-title {
  margin-bottom: 20px;
}

.footer-strong {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer .socials-list {
  display: flex;
  justify-content: space-between;
}

.footer .socials-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .socials-link:hover,
.footer .socials-link:focus {
  background-color: var(--accent-color);
}

.footer .soc-icon {
  fill: #ffffff;
}

/* -------------Footer-form--------------- */
.footer-form {
  margin-left: auto;
}

.footer-label {
  display: block;
  margin-bottom: 20px;
}

.footer-flex {
  display: flex;
}

.footer-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
}

.footer-input:focus {
  border-color: rgba(255, 255, 255, 0.7);
}

.footer-input::placeholder {
  font-family: "Inter";
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-button {
  width: 170px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.footer-svg {
  fill: white;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms, visibility 300ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal,
.modal-map {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 590px;
  padding: 40px 35px;
  background-color: #ffffff;
  border-radius: 4px;
}

.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 9px;
  right: 9px;
  cursor: pointer;
  width: 28px;
  height: 28px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background-color: #ffffff;
  transition-property: background-color, border;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.3, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.icon-close {
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.3, 1);
}

.modal-close:hover .icon-close,
.modal-close:focus .icon-close {
  fill: #ffffff;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-button-close:hover .modal-close,
.modal-button-close:focus .modal-close {
  fill: var(--accent-color);
}

.modal-title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-container {
  margin-bottom: 10px;
}

.modal-name,
.modal-tel,
.modal-email,
.modal-comment {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.input-svg {
  position: relative;
  fill: #212121;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-container {
  margin-bottom: 20px;
}

.textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
  border-color: var(--accent-color);
}

.textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-container {
  margin-bottom: 30px;
}

.checkbox-input:checked + .checkbox-text > .checkbox-span {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.checkbox-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox-span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 3px;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  fill: #ffffff;
}

.conditions {
  color: var(--accent-color);
  text-decoration: underline;
  margin-left: 5px;
}

.modal-button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  align-items: center;
  border: 0;
  border-radius: 4px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -15px;
  margin-right: -15px;
}

.service-item {
  flex-basis: calc(33.3333333333% - 30px);
  margin-bottom: 15px;
  margin-right: 15px;
}

.service-img {
  display: block;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.service-container {
  min-height: 250px;
  padding: 15px 10px;
  border-right: 1px solid #a1a1a1;
  border-bottom: 1px solid #a1a1a1;
  border-left: 1px solid #a1a1a1;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.service-title {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.service-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}/*# sourceMappingURL=main.css.map */