*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-title-color: #181818;
  --secondary-title-color: #ffffff;
  --main-text-color: #525151;
  --accent-color: #0bc533;
  --secondary-accent-color: #575454;
  --background-color: #686767;
}

p,
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--main-text-color);
  padding-top: 85px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.btn {
  border-radius: 5px;

  font-family: "Inter", sans-serif;
  text-align: center;
  cursor: pointer;
}

/* ------------Header------------- */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.header-nav {
  display: flex;
  height: 85px;
}

.header .logo {
  display: inline-block;
  padding-top: 26px;
  padding-bottom: 26px;
}

.logo-med {
  color: var(--accent-color);
}

.header-logo-center {
  color: var(--main-title-color);
}

.nav-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 85px;
  padding-right: 20px;
  padding-left: 20px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: var(--main-title-color);
}

.nav-link:hover,
.nav-link:focus,
.autho-link:hover,
.autho-link:focus {
  color: var(--accent-color);
  background-color: #ece9e9;
}

.current {
  color: var(--accent-color);
}

/* ------------Hero-------------- */

.hero {
  padding-top: 150px;
  padding-bottom: 150px;
  margin-right: auto;
  margin-left: auto;

  background-color: var(--background-color);
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/ct-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.hero-button {
  margin-right: auto;
  margin-left: auto;
  padding: 10px 20px;
  border: 1px solid var(--accent-color);
  box-shadow: inset 0 0 7px 2px rgba(0, 0, 0, 0.15),
    inset 0 0 13px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);

  font-weight: 700;
  font-size: 18px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;

  color: var(--secondary-title-color);
  background-color: var(--accent-color);
}

.hero-button:hover,
.hero-button:focus {
  color: #14a733;
  background-color: var(--secondary-title-color);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* --------------Sections---------------- */

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-title-color);
}

/* -------------Feature list------------- */

.feature-text {
  margin-bottom: 30px;

  font-size: 24px;
  font-weight: 700;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
}

.feature-list {
  display: flex;
  justify-content: space-around;
}

.feature-item {
  width: 165px;
}

.feature-icon {
  width: 80px;
  height: 80px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  fill: #09ad25;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: inset 0 0 20px 2px rgba(0, 0, 0, 0.15),
    inset 0 0 37px 10px rgba(0, 0, 0, 0.3);
}

.feature-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;

  color: var(--main-title-color);
}

/* -------------Service list------------- */

.service-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -15px;
  margin-right: -15px;
}

.service-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-bottom: 15px;
  margin-right: 15px;
}

.service-img {
  display: block;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.service-container {
  min-height: 250px;
  padding: 15px 10px;
  border-right: 1px solid #a1a1a1;
  border-bottom: 1px solid #a1a1a1;
  border-left: 1px solid #a1a1a1;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.service-title {
  margin-bottom: 5px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-title-color);
}

.service-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}

/* ------------Doctor list------------ */

.last-section {
  background-color: rgb(245, 245, 245);
}

.doctor-list {
  display: flex;
  justify-content: space-between;
}

.doctor-item {
  width: 280px;
  background-color: #ffffff;
}

.doctor-photo {
  width: 100%;
  margin-bottom: 6px;
}

.doctor-container {
  padding-top: 30px;
  padding-bottom: 20px;
}

.doctor-name {
  margin-bottom: 15px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-title-color);
}

.profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.socials-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials-arrow {
  display: flex;
  align-items: center;
  /* width: 45px;
  height: 45px; */
  margin-right: 50px;
  border-radius: 50%;
}

.icon-arrow {
  width: 25px;
  height: 25px;
  fill: #4ffa74;
}

.socials-list {
  display: flex;
  justify-content: center;
}

.socials-item + .socials-item {
  margin-left: 20px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.socials-icon {
  width: 20px;
  height: 20px;
  fill: #949694;
}

.socials-link:hover,
.socials-link:focus,
.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  background-color: #4ffa74;
  fill: #ffffff;
}

/* ------------------Poslugy--------------------- */

.gradient {
  height: 150px;
  background-image: linear-gradient(
      to bottom right,
      #ffffff 15%,
      #fdeddb 30%,
      #f8e6e6 40%,
      #ffffff 60%,
      #cdf9ff
    ),
    linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.portfolio-button {
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;

  color: var(--main-title-color);
}
.portfolio-button:focus,
.portfolio-button:hover {
  color: var(--secondary-title-color);
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--main-title-color);
}

.project-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}

/* -------------Footer--------------- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-logo-center {
  color: var(--secondary-title-color);
}

.address {
  margin-bottom: 9px;
  color: var(--secondary-title-color);

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.location-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.contact-item + .contact-item {
  margin-top: 9px;
}

.contact-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.884);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.authorization {
  display: flex;
  margin-left: auto;
}

.autho-item + .autho-item {
  margin-left: 40px;
}

.autho-link {
  display: flex;
  align-items: center;
  padding-top: 33px;
  padding-bottom: 33px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-title-color);
}

.icon-contact {
  margin-right: 10px;
}

.icon-contact {
  fill: currentColor;
}
