/* ------------Header------------- */

/* ------------Hero-------------- */

/* --------------Sections---------------- */

/* -------------Feature list------------- */

/* -------------Service list------------- */

/* ------------Doctor list------------ */

/* ------------------Poslugy--------------------- */

/* .gradient {
  height: 150px;
  background-image: linear-gradient(
      to bottom right,
      #ffffff 15%,
      #fdeddb 30%,
      #f8e6e6 40%,
      #ffffff 60%,
      #cdf9ff
    ),
    linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.portfolio-button {
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;

  color: var(--main-title-color);
}
.portfolio-button:focus,
.portfolio-button:hover {
  color: var(--secondary-title-color);
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--main-title-color);
}

.project-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
} */

/* -------------Footer-contacts--------------- */

/* --------------------Modal---------------------- */
