:root {
  --main-title-color: #181818;
  --secondary-title-color: #ffffff;
  --main-text-color: #525151;
  --accent-color: #0bc533;
  --secondary-accent-color: #575454;
  --background-color: #686767;
}
